In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel("C:/Users/Usuario/Desktop/Analisis_Robinson/Dataset_Ventas_Erroneas_1000.xlsx")

In [5]:
df.head(5)

          Fecha    Sucursal Producto Precio Cantidad   Ventas
0  INVALID_DATE         NaN      NaN    NaN      NaN  1217.62
1    2024-01-24  Sucursal_C        A -34.59       10  1602.73
2    2024-05-08  Sucursal_C        D  22.02        2    64.68
3    2024-04-05  Sucursal_B        C  63.38        6   518.21
4    2024-12-04  Sucursal_D        A   1.02  MISSING  1962.41